---
layout: post_layout
title: Post Grid
---


<!DOCTYPE html>
<html>
{% include head.html %}
<head>
 <link rel="stylesheet" href="{{ site.baseurl }}/_includes/css/style.css">
 <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
 <link rel="stylesheet" href="{{ site.baseurl }}/_layouts/style.css">
 <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome/all.css">
 <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome/all.min.css">
</head>

{% include post_grid.html %}

</body>

</html>
