<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Coaltrain's Coffee Shop Gallery is based in Barry Train Inbetween Barry Docks and Barry Island train Stations.
          We offer a wide selection of hot and cold drinks including decaf and caffiene free options for early morning commuters and visitors who like to soak up the colourful 
          and creative atmosphere curated by ownwers Al & Bri.  </p>
      </div>
      <div class="col-lg-4">
        <p>Along side and extensive drinks and snacks menu that aims to offer something for everyone we also offer an range of inclusive social events for folk to enjoy from live Jazz/Classical mornings, 
          Album launches, Bad Poetry nights, Art Exhibitions and Ceramic Fairs etc. Coaltrain's is a coffee shop that should be experienced. </p>
      </div>
    </div>
  </div>
</section>
