<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>The Coaltrains Coffee Shop and Gallery is run by expert baristas that will make you the best coffee you've ever tasted! (As well as Tea's and other drinks of course!)  </p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're just stopping by for a quick drink, or want to stay for one of our events, you are always welcome to stop by! While you're here, feel free to check out the art that decorates the cafe
          or browse through the small selection of vinyl records we have for sale. </p>
      </div>
    </div>
  </div>
</section>
