<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="{{ site.baseurl }}/img//gallery/gallery_thumbnail.jpg" alt="profile-pic" />
        <div class="intro-text">
          <span class="name">A Note from the Artist</span>
          <hr class="star-light" />
          <span class="skills">Coaltrains coffee shop gallery has always carried a distinctive rhythm, a place where the aroma of morning coffee blends effortlessly with a spirit of creativity. Each visit brought not only warmth and flavour but also a quiet spark of inspiration. To be invited to design an illustrated poster capturing the essence of this space, along with refining their business cards, was both a joy and an honour. That collaboration has since grown into something even more meaningful: the opportunity to create an entire body of work for an exhibition opening this October. More will be shared soon, and I look forward to unveiling this new chapter with you.</span>
        </div>
      </div>
    </div>
  </div>
</header>
