<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="{{ site.baseurl }}/img/gallery/gallery_thumbnail.jpg" alt="profile-pic" / style="max-width: 50%;">
        <div class="intro-text">
          <span class="name">A Note from the Artist</span>
          <hr class="star-light" />
          <span class="skills">If you would like to hold an exhibition at Coaltrains please contact use here. Please send details about your work and include any links to show some examples along with proposed dates.

<!--Our main exhibition wall size is **** by *****( I need to measure this).-->
The price to exhibit is £50 per week( one month minimum) and includes venue hire and staff costs for your own launch party. 
We can also provide food, drink, live music or a DJ at an extra cost.</span>
        </div>
      </div>
    </div>
  </div>
</header>
