<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="{{ site.baseurl }}/img/contact/extra_contact.jpg" alt="profile-pic" / style="max-width: 50%;">
        <div class="intro-text">
          <span class="name">Contact</span>
          <hr class="star-light" />
          <span class="skills">Contact us Here!</span>
          <p>coaltrainscoffeeshopgallery@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</header>
