<!-- Navigation Grid Section (similar to portfolio grid but not quite same) -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Special Events</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% assign posts = site.categories.events | sort: 'event_date' %}
      {% for post in site.categories.events %}
      <div class="portfolio-flex-item portfolio-item">
          <div class="caption">
            <div class="caption-content">
              <h3>{{ post.title }}</h3>
              <img src ="{{ site.baseurl }}/img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
              <p>{{ post.event_date | date_to_long_string: "ordinal"  }}</p>
              <p>{{post.description}}</p>

            </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
