

<!DOCTYPE html>
<html>
{% include head.html %}
<head>
 <link rel="stylesheet" href="{{ site.baseurl }}/_includes/css/style.css">
 <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
 <link rel="stylesheet" href="{{ site.baseurl }}/_layouts/style.css">
 <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome/all.css">
 <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome/all.min.css">
</head>

<body id="page-top" class="index">
  {% include header.html %}
  {% include post_grid.html %}
  {% include js.html %}
</body>

</html>



<!--
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>&copy; {{ site.footer.copyright }}</p>
  </footer>
</body>
</html>

-->